@page
@model Quizzify.Pages.AdminProfileModel
@{
}

<form method="post">

    <br />
    <body>

        <div class="profile">
            <div class="profile-header">
                <h2>Player Profile</h2>
            </div>

            <div class="profile-info">
                <p>First Name: John</p>
                <p>Last Name: Doe</p>
                <p>Email: john.doe@example.com</p>
               
                <!-- Add more profile details as needed -->
                <br /> <br /><br>
                 <a href="https://localhost:7272/AdminReport">Reports</a>
                <br> <br /> <br />
                 <a href="https://localhost:7272/AdminRoomsList">Rooms</a>
                <br> <br /> <br />
                 <a href="https://localhost:7272/AdminPermissions">Permissions</a>
                <br /> <br /><br />
                <button type="submit">Sign Out</button>
            </div>
        </div>

    </body>




</form>
