@page
@model Quizzify.Pages.AdminRoomModel
@{
}



<aside class="side-menu">

    <ul>

        <li>
            <a href="https://localhost:7272/AdminPosts" class="w3-button w3-bar-item">Stream</a>
        </li>
        <li>
            <a href="https://localhost:7272/AdminQuizzesList" class="w3-button w3-bar-item">Quizzes</a>
        </li>
        <li>
            <a href="https://localhost:7272/Leaderboard" class="w3-button w3-bar-item">Leaderboard</a>
        </li>
        <li>
            <a href="https://localhost:7272/AdminRoomUsers" class="w3-button w3-bar-item">Users</a>
        </li>
        <li>
            <a href="https://localhost:7272/AdminRequest" class="w3-button w3-bar-item">Requests</a>
        </li>
    </ul>


</aside>