@page
@model AdminHomePageModel
@{
}


<aside class="side-menu">

    <ul>

        <li>
            <a href="https://localhost:7272/Search" class="w3-button w3-bar-item">Search</a>
        </li>
        <li>
            <a href="https://localhost:7272/AdminRoomsList" class="w3-button w3-bar-item">Rooms</a>
        </li>
        <li>
        <a href="https://localhost:7272/AdminProfile" class="w3-button w3-bar-item">Profile</a>
    </ul>


</aside>