@page
@model Quizzify.Pages.AdminRequestModel
@{
}
<body>
    <form method="post">

        <div>
            <div>
                <a>Author Name</a> @* change it to variable *@
            </div>

            <div>
                <a>Quiz title</a> @* change it to variable *@
            </div>

            <div>
                <p>Quiz info</p> @* change it to variable *@

            </div>
            <button asp-route-id="1"> Add </button>
            <button asp-route-id="2"> Remove </button>

        </div>
    </form>
</body>