@page
@model AuthorFeedbackModel
@{
}
<div>


    <form >
        <h3>Feedbacks</h3>
        <div>
            @*         later on change them to variables *@
            <p>feedback</p>
            <p>content</p>
            <p> rank</p>
        </div>

    </form>
</div>