@page
@model Quizzify.Pages.AuthorProfileModel
@{
}


<form method="post">

    <br />
    <body>

        <div class="profile">
            <div class="profile-header">
                <h2>Player Profile</h2>
            </div>

            <div class="profile-info">
                <p>First Name: John</p>
                <p>Last Name: Doe</p>
                <p>Email: john.doe@example.com</p>

                <button type="submit">Sign Out</button>
            </div>
        </div>

    </body>




</form>
