@page
@model Quizzify.Pages.AuthorRoomModel
@{
}


<aside class="side-menu">

    <ul>

        <li>
            <a href="https://localhost:7272/Posts" class="w3-button w3-bar-item">Stream</a>
        </li>
        <li>
            <a href="https://localhost:7272/Leaderboard" class="w3-button w3-bar-item">Leaderboard</a>
        </li>
        <li>
            <a href="https://localhost:7272/AuthorQuizzesList" class="w3-button w3-bar-item">Quizzes</a>
        </li>
       
    </ul>


</aside>