@page
@model AuthorQuizzesHistoryModel
@{
}
<body>
<form>
    <div>
        <h5>Room title</h5>
        <div>
            <p>Quiz Title</p>
            <p>which opertation the author did (add or edit)</p>
        </div>
        <div>
            <p>Quiz Title</p>
            <p>which opertation the author did (add or edit)</p>
        </div>
    </div>
</form>
</body>