@page
@model Quizzify.Pages.AuthorHomePageModel
@{
}


<aside class="side-menu">

    <ul>

        <li>
            <a href="https://localhost:7272/Search" class="w3-button w3-bar-item">Search</a>
        </li>
        <li>
            <a href="https://localhost:7272/AuthorRoomsList" class="w3-button w3-bar-item">Rooms</a>
        </li>
        <li>
            <a href="https://localhost:7272/AuthorProfile" class="w3-button w3-bar-item">Profile</a>
    </ul>


</aside>