@page
@model Quizzify.Pages.HomePageModel
@{
}



<aside class="side-menu">
    
            <ul>

                <li>
                    <a href="https://localhost:7272/Search" class="w3-button w3-bar-item">Search</a>
                </li>
                <li>
                    <a href="https://localhost:7272/RoomsList" class="w3-button w3-bar-item">Rooms</a>
                </li>
                <li>
                    <a href="https://localhost:7272/Profile" class="w3-button w3-bar-item">Profile</a>
            </ul>
     
    
</aside>


