@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <form method="post">

    <div class="text-center">
        <br><br>
        <br><br>
        <br><br>
        <h1 class="display-4">Welcome To Quizzify</h1>
        <br><br>
        <br><br>

        <button class="big-button rounded">Sign In</button>





    </div>

     </form>
