@page
@model LeaderboardModel
@{
}

<body>
<br/>
<h1>LeaderBoard</h1>
<br/>
<div class="leaderboard">
    <div class="top-player">
        <h2>Top Player 👑</h2>
        <p>Name: John Doe</p>
        <p>Score: 1000</p>
        <!-- Add more details as needed -->
    </div><br/>
    <h3>Players</h3>
    <div class="table-container">
        <table>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>2</td>
                <td>Abdelrahman ameen</td>
                <td>950</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bob Smith</td>
                <td>800</td>
            </tr>
            <!-- Add more rows as needed -->
        </table>
    </div>
</div>

</body>