@page
@model ProfileModel


    <form method="post">
  
        <br />
    <body>

        <div class="profile">
            <div class="profile-header">
                <h2>Player Profile</h2>
            </div>

            <div class="profile-info">
                <p>First Name: John</p>
                <p>Last Name: Doe</p>
                <p>Email: john.doe@example.com</p>
                <p>Rank: 1</p>
                <!-- Add more profile details as needed -->
                <br /> <br />
                <a href="https://localhost:7272/Friends">Friends</a>
                <br> <br />
                <a href="https://localhost:7272/ScoreHistory">Score History</a>
                <br /> <br />
                <button type="submit">Sign Out</button>
            </div>
        </div>

    </body>

     

    
</form>


