@page
@model Quizzify.Pages.ReportPlayerModel
@{
}
<form method="post">
    <br />
    <body>

        <div class="report-page">
            <div class="report-header">
                <h2>Report</h2>
            </div>

            <div class="report-form">
                <textarea id="report-content" placeholder="Type your report here..."></textarea>
                <button type="submit">Submit</button>
            </div>
        </div>

    </body>

</form>