@page
@model Quizzify.Pages.ScoreHistoryModel
@{
}

<body>
    <br />

    <div class="quiz-history">
        <div class="history-header">
            <h2>Quiz Score History</h2>
        </div>

        <div class="table-container">
            <table>
                <tr>
                    <th>Quiz Title</th>
                    <th>Score</th>
                    <th>Time </th>
                    <th>Date </th>
                </tr>
                <tr>
                    <td>Quiz 1</td>
                    <td>85%</td>
                    <td>12:30:00</td>
                    <td>2023-01-15</td>
                </tr>
                <tr>
                    <td>Quiz 2</td>
                    <td>92%</td>
                    <td>09:45:00</td>
                    <td>2023-02-02</td>
                </tr>
                <!-- Add more rows as needed -->
            </table>
        </div>
    </div>

</body>

