@page
@model Quizzify.Pages.SearchModel
@{
}

<div class="text-center">


    <form method="post">
        <input type="text" placeholder="Search.." style="width: 300px;">

        <button type="submit" id="Search">Search</button>
    </form>
</div>
