@page
@model Quizzify.Pages.SignInModel
@{
}
<body>

   

    <form method="post">
        <div class ="text-center">

            <br><br>
            <h2>SignIn</h2>

            <br><br>
            <label><b>Email</b></label><br>
            <input type="text"><br><br><br>

            <label><b>Password</b></label><br>
            <input type="text"><br><br>

            <label>
                <input type="checkbox"> Remember me
            </label><br><br><br>

            <button type="submit">Sign in</button>
            <button type="button">Cancel</button><br><br><br>
            

            <span> <a href="https://localhost:7272/SignUp">Create an account</a></span>
        </div>

    </form>
</body>
